<!DOCTYPE html>
<html lang="en">

[% PROCESS root.tt %]

<head>
  <meta charset="utf-8">
  <title>bioinf.org.uk - Prof. Andrew C.R. Martin's group at UCL</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Prof. Andrew C.R. Martin's bioinformatics group at UCL" />
  <meta name="author" content="Prof. Andrew C.R. Martin" />

  <!-- css -->
<!--
  <link href="https://fonts.googleapis.com/css?family=Handlee|Open+Sans:300,400,600,700,800" rel="stylesheet">
-->
  <link href="[%root%]/css/bootstrap.css" rel="stylesheet" />
  <link href="[%root%]/css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="[%root%]/css/flexslider.css" rel="stylesheet" />
  <link href="[%root%]/css/prettyPhoto.css" rel="stylesheet" />
  <link href="[%root%]/css/camera.css" rel="stylesheet" />
  <link href="[%root%]/css/jquery.bxslider.css" rel="stylesheet" />
  <link href="[%root%]/css/style.css" rel="stylesheet" />

  <!-- Theme skin -->
  <link href="[%root%]/color/default.css" rel="stylesheet" />

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="[%root%]/ico/apple-touch-icon-144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="[%root%]/ico/apple-touch-icon-114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="[%root%]/ico/apple-touch-icon-72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="[%root%]/ico/apple-touch-icon-57-precomposed.png" />
  <link rel="shortcut icon" href="[%root%]/ico/favicon.png" />

  <style type='text/css'>
    .top .container { background: #545454;
          margin: 0px;
          padding: 4px 0px 0px 8px;
          height: 60px;
          font: bold 14px Verdana, Helvetica, sans-serif; 
          color: #ffffff;
          background-image: url([%root%]/ucl.gif);
          background-repeat: no-repeat;
          background-position: bottom right;
          width: 100%;
    }

    @media (max-width: 480px) {
        .top .container {
            background-image: url([%root%]/ucl_small.gif);
        }
    }

    header .top {
    padding: 0pt;
    }
    .topcontact {
    padding: 8pt 0pt 0pt 8pt;
    }
    .topcontact a {
    color: #e8e8e8;
    }
    a {
    color: inherit;
    font-weight: bold;  /* ACRM 18.11.19 */
    }

    a.nodecoration {
        font-weight: normal;
    }

    .btn {
        margin: 2px 0px;
    }
    
    /*** Warnings ***/
    .warning {
        padding: 0px;
        margin: 1px 2px 20px 2px;
        background-color: #F8F8F8;
        border: 1px solid #d5d5d5;
        color: #656565
    }
    
    .warning p, .warning li {
        margin: 0px 0px 0px 0px;
        padding: 0px;
        font-size: 10pt;
    }
    .warning ul, .warning ol {
        margin: 0px 0px 0px 14px;
        padding: 4px 4px;
    }
    .warning p {
        padding: 4px;
    }
    .warning h1 {
        background-color: #e96b56;
        margin: 0px;
        padding: 2px 4px;
        color: #ffffff;
        font-weight: bold;
        font-size: 10pt;
    }
    
    /*** News items ***/
    .news {
        padding: 0px;
        margin: 1px 2px 20px 2px;
        background-color: #F8F8F8;
        border: 1px solid #d5d5d5;
        color: #656565
    }
    
    .news p, .news li {
        margin: 0px 0px 0px 0px;
        padding: 0px;
        font-size: 10pt;
    }
    .news ul, .news ol {
        margin: 0px 0px 0px 14px;
        padding: 4px 4px;
    }
    .news p {
        padding: 4px;
    }
    .news h1 {
        background-color: #6f9b63;
        margin: 0px;
        padding: 2px 4px;
        color: #ffffff;
        font-weight: bold;
        font-size: 10pt;
    }
    
    /* Just makes simple news items as normal inline text - used to demote
       a 'news' item
   */
    .plainnews { }
    .plainnews h1 {
        font: 12pt;
        padding: 8px 0px 0px 0px;
        margin: 0px;
    }
    .plainnews p {
        padding: 0px 0px 0px 0px;
        margin: 0px;
    }
    
    /*** Announcements ***/
    .announce {
        padding: 0px;
        margin: 1px 2px 20px 2px;
        background-color: #F8F8F8;
        border: 1px solid #d5d5d5;
        color: #656565
    }
    
    .announce p, .announce li {
        margin: 0px 0px 0px 0px;
        padding: 0px;
        font-size: 10pt;
    }
    .announce ul, .announce ol {
        margin: 0px 0px 0px 14px;
        padding: 4px 4px;
    }
    .announce p {
        padding: 4px;
    }
    .announce h1 {
        background-color: #6b8eaf;
        margin: 0px;
        padding: 2px 4px;
        color: #ffffff;
        font-weight: bold;
        font-size: 10pt;
    }
    .announce h1.new {
        background-color: #e96b56;
    }

    /*** Commercial use box ***/
    .commercial {
        background: #222222;
        padding: 2em;
        margin: 0 0 2em 0;
    }
    .commercial h4 {
        color: #eeeeee;
    }
    .commercial p {
        padding: 0.5em 0;
    }
    
    /*** Used for publications page ***/
    .pubtypeindex {
        margin: 5px 0px -20px 0px;
        text-align: center;
    }

    .pubtypeindex p {
        padding: 0px;
        margin: 0px;
    }

    .bibtoc {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .bibtocsection {
        margin: 10pt 0 0 0;
    }
    .bibtochead {
        display: block;
        font-size: 14pt;
    }

    /* Boxed forms */
    .myform {
        background: #eeeeee;
        border: 1pt solid #dddddd;
        padding: 1em;
        margin: 1em 0 1em 1em;
        border-radius: 0.5em;
    }
    .myform form {
        padding: 0;
        margin: 0;
    }

    /* Fix problems with textarea width */
    textarea {
        width: auto; 
    }
    
  </style>
  
  <!-- =======================================================
    Theme Name: Eterna
    Theme URL: https://bootstrapmade.com/eterna-free-multipurpose-bootstrap-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>

  <div id="wrapper">

    <!-- start header -->
    <header>
      <div class="top">
        <div class="container">
          <div class="row">
            <div class="span2">
              <p class="topcontact"><a href='[%root%]/'>www.bioinf.org.uk</a></p>
            </div>

<!--
            <div class="span2">
              <ul class="social-network" style='margin: 10pt 0 0 0;'>
                <li><a href="http://www.twitter.com/PrfAndrewMartin/"
                       data-placement="bottom"
                       title="Twitter"><i class="icon-twitter
                                                 icon-white"></i></a>
                </li>
                <li><a href="https://www.linkedin.com/in/andrew-martin-5155391/"
                       data-placement="bottom"
                       title="Linkedin"><i class="icon-linkedin
                                                  icon-white"></i></a>
                </li> 

                <li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-white"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-pinterest  icon-white"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Google +"><i class="icon-google-plus icon-white"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Dribbble"><i class="icon-dribbble icon-white"></i></a></li>

                
              </ul>
            </div>
-->

            

<!--
            <div class="span2">
              <p class="topcontact">UCL</p>
            </div>
-->
          </div>
        </div>
      </div>  <!-- top -->

      <div class="container">


        <div class="row nomargin">
          <div class="span3">
            <div class="logo">
              <a href="[%root%]/"><b>Prof Andrew C R Martin's Group</b></a><br />
            </div>
          </div>
          <div class="span9">
            <div class="navbar navbar-static-top">
              <div class="navigation">
                <nav>
                  <ul class="nav topnav">

                    <li class="dropdown [%indexactive%]">
                      <a href="[%root%]/"><i class="icon-home"></i> Home <i class="icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="[%root%]/welcome.html">Welcome!</a></li>
                        <li><a href="[%root%]/research.html">Research</a></li>
                        <li><a href="[%root%]/teaching/">Teaching</a></li>
                        <li><a href="[%root%]/news.html">News &amp; Media</a></li>
                        <li><a href="[%root%]/publications/">Publications</a></li>
                        <li><a href="[%root%]/group/">Group</a></li>
                      </ul>
                    </li>

                    <li class="dropdown [%absactive%]">
                      <a href="[%root%]/abs/">Antibodies <i class="icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="[%root%]/abs/">About</a></li>
                        <li><a href="[%root%]/abs/info.html">Information</a></li>
                        <li><a href="http://www.abysis.org/">abYsis</a></li>
                        <li><a href="http://abymod.abysis.org/">abYmod</a></li>
                        <li><a href="[%root%]/abs/abml/">AbML - new</a></li>
                        <li><a href="[%root%]/software/abydraw/">abYdraw</a></li>
                        <li><a href="[%root%]/software/abypap/">abYpap</a></li>
                        <li class='dropdown'><a href="#">Antibody Servers<i class='icon-angle-right'></i></a>
                          <ul class='dropdown-menu sub-menu-level1'>
                            <li><a href="[%root%]/abs/abnum/">AbNum</a></li>
                            <li><a href="[%root%]/abs/chothia.html">Canonicals</a></li>
                            <li><a href="[%root%]/abs/shab/">Humanness (HScore)</a></li>
                            <li><a href="[%root%]/abs/gscore/">Humanness (GScore)</a></li>
                            <li><a href="[%root%]/abs/hsubgroup.html">Subgroups</a></li>
                            <li><a href="[%root%]/abs/simkab.html">KabatMan</a></li>
                            <li><a href="[%root%]/abs/paps/">VH/VL Packing</a></li>
                            <li><a href="[%root%]/abs/seqtest.html">AbCheck</a></li>
                          </ul>
                        </li>
                        <li class='dropdown'><a href="#">abYbank<i class='icon-angle-right'></i></a>
                          <ul class='dropdown-menu sub-menu-level1'>
                            <li><a href="http://www.abybank.org">About</a></li>
                            <li><a href="http://www.abybank.org/sacs/">SACS</a></li>
                            <li><a href="http://www.abybank.org/abdb/">AbDb</a></li>
                            <li><a href="http://www.abybank.org/emblig/">EMBLIG</a></li>
                            <li><a href="http://www.abybank.org/kabat/">Kabat</a></li>
                            <li><a href="http://www.abybank.org/abpdbseq/">AbPDBSeq</a></li>
                          </ul>
                        </li>
                        <li>
                          <a href="[%root%]/abs/patents/">Patents</a>
                        </li>
                      </ul>
                    </li>

                    <li class="dropdown [%mutationsactive%]">
                      <a href="[%root%]/mutations/">Mutations <i class="icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="[%root%]/mutations/">About</a></li>
                        <li><a href="[%root%]/mutations/saapdap/">SAAPdap/SAAPpred</a></li>
                        <li><a href="[%root%]/mutations/saapdb/">SAAPdb</a></li>
                        <li><a href="[%root%]/mutations/g6pd/">G6PD</a></li>
                        <li><a href="[%root%]/mutations/p53/">p53</a></li>
                      </ul>
                    </li>

                    <li class="dropdown [%serversactive%]">
                      <a href="[%root%]/servers/">Other servers <i class="icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="[%root%]/servers/">About</a></li>
                        <li><a href="[%root%]/servers/pdbsws/">PDBSWS</a></li>
                        <li><a href="http://zincbind.bioinf.org.uk/">ZincBind</a></li>
                        <li><a href="[%root%]/servers/hbonds/">CheckHBond</a></li>
                        <li><a href="[%root%]/servers/fosta/">Fosta</a></li>
                        <li><a href="[%root%]/servers/profit/">ProFit</a></li>
                        <li><a href="[%root%]/servers/impact/">Impact</a></li>
                        <li><a href="[%root%]/servers/omim/">OMIM</a></li>
                        <li><a href="[%root%]/servers/pubmed/">Pubmed</a></li>
                        <li><a href="[%root%]/servers/pdbsprotec/">PDBSprotEC</a></li>
                        <li><a href="[%root%]/servers/topscan/">Topscan</a></li>
                      </ul>
                    </li>





                    
                    <li class="dropdown [%swactive%]">
                      <a href="[%root%]/software/">Software <i class="icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="[%root%]/software/">About</a></li>
                        
                        <li class='dropdown'><a href="#">Bioinformatics<i class='icon-angle-right'></i></a>
                          <ul class='dropdown-menu sub-menu-level1'>
                            <li><a href="[%root%]/software/profit/">ProFit</a></li>
                            <li><a href="[%root%]/software/bioptools/">BiopTools</a></li>
                            <li><a href="[%root%]/software/nw/">NW</a></li>
                            <li><a href="[%root%]/software/avp/">AVP</a></li>
                            <li><a href="[%root%]/software/qtree/">QTree</a></li>
                            <li><a href="[%root%]/software/mint/">MINT</a></li>
                            <li><a href="[%root%]/software/torsions/">Torsions</a></li>
                            <li><a href="[%root%]/software/saptf/">SAPTF</a></li>
                            <li><a href="[%root%]/software/prodoric/">Prodoric</a></li>
                            <li><a href="[%root%]/software/apat/">APAT</a></li>
                          </ul>
                        </li>

                        <li class='dropdown'><a href="#">Libraries<i class='icon-angle-right'></i></a>
                          <ul class='dropdown-menu sub-menu-level1'>
                            <li><a href="[%root%]/software/bioplib/">BiopLib</a>
                            <li><a href="http://atomium.bioinf.org.uk/">Atomium</a>
                          </ul>
                        </li>

                        <li class='dropdown'><a href="#">JavaScript<i class='icon-angle-right'></i></a>
                          <ul class='dropdown-menu sub-menu-level1'>
                            <li><a href="[%root%]/software/jsav/">JSAV</a></li>
                            <li><a href="[%root%]/software/js/buttons.txt">buttons.js</a></li>
                            <li><a href="[%root%]/software/js/lastmodified.txt">lastmodified.js</a></li>
                          </ul>
                        </li>


                        <li class='dropdown'><a href="#">Utilities<i class='icon-angle-right'></i></a>
                          <ul class='dropdown-menu sub-menu-level1'>
                            <li><a href="[%root%]/software/qlite/">QLite</a></li>
                            <li><a href="[%root%]/software/cdoc/">CDoc</a></li>
                            <li><a href="[%root%]/software/cluster/">Cluster</a></li>
                          </ul>
                        </li>


                        <li class='dropdown'><a href="#">Patches<i class='icon-angle-right'></i></a>
                          <ul class='dropdown-menu sub-menu-level1'>
                            <li><a href="[%root%]/software/mirror/">Mirror</a></li>
                            <li><a href="[%root%]/software/wdiff/">WDiff</a></li>
                          </ul>
                        </li>

                        <li class='dropdown'><a href="#">Antibodies<i class='icon-angle-right'></i></a>
                          <ul class='dropdown-menu sub-menu-level1'>
                            <li><a href="[%root%]/software/abydraw/">abYdraw</a></li>
                            <li><a href="[%root%]/software/abypap/">abYpap</a></li>
                          </ul>
                        </li>

                      </ul>
                    </li>

                    <li class="dropdown [%infoactive%]">
                      <a href="#">Information <i class="icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="[%root%]/contact.html">Contact</a></li>
                        <li><a href="[%root%]/tandc.html">Terms &amp; Conditions</a></li>
                        <li><a href="[%root%]/faq.html">FAQ</a></li>
                        <li><a href="[%root%]/casp2/">CASP2</a></li>
                        <li><a href="[%root%]/jobs/">Opportunities</a></li>
                        <li><a href="http://www.abyinformatics.com/">Consultancy</a></li>
                      </ul>
                    </li>
                    
                  </ul>
                </nav>
              </div>
              <!-- end navigation -->
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->

